@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Playfair+Display:wght@600&family=Poppins&family=Roboto&display=swap');

span{
    color: #F06DAB;
    
}
h5{
    font-weight: bolder;
}
button.navbar-toggler{
    color: rgb(23, 23, 23);
}
.btn_btn-outline:hover{
    color:white;
    background-color: #F06DAB;
    
}

