<nav class="navbar">
    <div class="container-fluid">
        <a routerLink="home "><img src="/assets/images/login.png" width="100px" height="60px"></a>
      <a class="navbar-brand " style="color:rgb(75, 77, 78); font-family:'Playfair Display', serif; font-size: 30px;"  href="#"><b>Her<span>Well</span></b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h3 class="offcanvas-title" style="color: rgb(75, 77, 78); font-family:'Playfair Display', serif; font-size: 30px;" id="offcanvasNavbarLabel">Her<span>Well</span></h3>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" style="background-color:var(--navbar-footer-color) ; font-family:'Playfair Display', serif; font-size: 15px;">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="">HOME</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" routerLink="bhome">HER-BLOGS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="ask">ASK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contact">CONTACT US</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">LOGIN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SIGN UP</a>
            </li>
             -->
<!-- <li class="nav-item dropdown"> 
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                HER-BLOGS
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Breakfast Dishes</a></li>
                <li><a class="dropdown-item" href="#">Non-veg</a></li>
                <li><a class="dropdown-item" href="#">Veg</a></li>
                <li><a class="dropdown-item" href="#">Biriyani</a></li>
                <li><a class="dropdown-item" href="#">Arabian Grills</a></li>
                <li><a class="dropdown-item" href="#">Snacks</a></li>
                <li><a class="dropdown-item" href="#">Drinks</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">What are you searching for?</a></li>
              </ul>
            </li-->
          </ul>
          <!-- <form class="d-flex mt-3" role="search"> 
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn_btn-outline" type="submit">Search</button>
          </form-->
        </div>
      </div>
    </div>
  </nav>

