<div class="catnav mb-3" style="margin-top: 100px;" >
  <app-cat-navbar></app-cat-navbar>

</div>


<div class="main"   >
<div class="container mt-5"> 
    <div class="row">
        <div class="col-md-9">
          <div class="card shadow-effect">
            <img src="{{single[0].img}}">
              <div class="card-body">
                  
                  <small class="bg-light  text-center">{{single[0].date}}</small>
                  
                  <h1 class="mt-3 mb-3">{{single[0].title}}</h1>

                  <p>{{single[0].des}}</p>

               </div>
</div>
<app-comment-form></app-comment-form>
<app-comment-list></app-comment-list>
           
    </div>

    <div class="col-md-3 mt-1"> 
      <div class="mb-3">
        <iframe width="400" height="215" src="https://www.youtube.com/embed/Mc5iK0AtGNc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        
        
     
      </div>
      <div class="mb-3">

        <iframe width="400" height="215" src="https://www.youtube.com/embed/WH9ZJu4wRUE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

       
        
        </div>
        <div class="mb-3">

          <iframe width="400" height="215" src="https://www.youtube.com/embed/zcvo9VLVHWc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
         
          </div>


      
        <div class="mb-3">
  
          <iframe width="400" height="215" src="https://www.youtube.com/embed/64JQMlDzQx0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
         
          
          </div>

       
        <div class="mb-3">
  
          <iframe width="400" height="215" src="https://www.youtube.com/embed/cUDvuSKYO_M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
         
          
        </div>

        <div class="mb-3">

          <iframe width="400" height="215" src="https://www.youtube.com/embed/c1FlrDJvN7I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  
          
         
          
        </div>


        <div class="mb-3">
  
          <iframe width="400" height="215" src="https://www.youtube.com/embed/sPYkK4MwUjA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  
         
          
        </div>

        <div class="mb-3">
  
          <iframe width="400" height="215" src="https://www.youtube.com/embed/8tJe6QhpZ3M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
         
          
        </div>
    </div>


 </div>
</div>
</div>

