<div class="main">
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">HerWell Society</div>
          <div class="text-two">Marygiri, Idukki-685609 </div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+0098 9893 5647</div>
          <div class="text-two">+0096 3434 5678</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">herwell392@gmail.com</div>
          <div class="text-two">herwelladmin@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>Keep touch with us . Never hesitate to ask your doubts, we are always ready to help you out.</p>
      <form>
        <div class="input-box">
          <input type="text" [(ngModel)]="name"   name="name" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" [(ngModel)]="email"   name="email" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
            <input type="text"  [(ngModel)]="message"  name="message" placeholder="Enter your message">
        </div>
        <div class="button">
          <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
        </div>
      </form>
    </div>
    </div>
  </div>
</div>
