@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Playfair+Display:wght@600&family=Poppins&family=Roboto&display=swap');
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


*{
     margin-top: -5px; 
    padding: 0;
    
     width:100%;
}



.image-1{
    padding-bottom: 30px;
    /* width: 204vh; */
     height: 130vh;   
     background-image: url(/assets/images/wallpaper2.jpg);

    background-attachment:fixed;
    background-size:contain;
    background-repeat: no-repeat;
    background-position:right; 
    margin-right: 50px;
    

}

.image-1 h1{
    position:relative;
    top:156px;
    text-align: left;
    font-family: 'Playfair Display', serif;

    font-size: 6em;
    color:rgb(53, 52, 52) ;
    /* text-shadow:5px 5px 12px rgb(0, 0, 0) ;  */
}
.image-1 p{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: rgb(53, 52, 52) ;

}

.image-1 a{
  background-color: #EE8FBC; 
  text-decoration: none;
  /* display: inline-block; */
  color:#fff;
  font-size: 15px; 
  border:2px solid #fff;
  width: 20px;
 

   border-radius: 50px;
  margin-top: 20px; 
}



 

.title{
    
  margin-top:30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  width: .5vh;
  height: 20px;;
  font-family: 'Playfair Display', serif;
  font-size: 5vw;
}

.bottom-container,
.top-container {
  width: 50vw;
  height: 10vh;
  display: flex;
  justify-content:center;
  align-items: center;
  position: absolute;
  top: -vh;
  left: 25vw;
  padding: 1vw;
}

.bottom-container {
  color: #232323;
  font-size: 30px;
}

.top-container {
  background-color: pink;
  color: white;
  font-size: 30px;

  clip-path: circle(5% at 85% 50%);
  animation: circleMove 10s ease-in-out infinite;
}
@keyframes  circleMove {
  0%, 10% {
    clip-path: circle(5% at 85% 50%);
  }
  50% {
    clip-path: circle(5% at 15% 50%);
  }
}

h4{
  font-family: 'Poppins', sans-serif;
  color: #000000;
}
p{
 font-family:  'Poppins', sans-serif;
 color: #596392;
 font-size: 14px;
}
btn{
  background-color: pink;
  
}


.image-2{
    background: url(/assets/images/wallpaper1.png);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}


.image-3{
    background: url(/assets/images/image6.jpg);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}

.image-4{
    background: url(/assets/images/image7.jpg) ; 
    width: 40%;
    height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    float: left;
    margin: 30px 20px 0px 70px;
    position: relative;

}
.image-5{
    background: url(/assets/images/image8.png);
    width: 45%;
    height: 400px;
    padding-bottom: 100px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    float: right;
    margin: 30px 20px 0px 70px;
    position: relative;

}




.title1{
    
  margin-top:30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  width: .5vh;
  height: 20px;;
  font-family: 'Playfair Display', serif;
  font-size: 5vw;
}

.bottom-container1,
.top-container1 {
  width: 50vw;
  height: 10vh;
  display: flex;
  justify-content:center;
  align-items: center;
  position: absolute;
  top: 7vh;
  left: 14vw;
  padding: 1vw;
}

.bottom-container1{
  color: #232323;
  font-size: 30px;
}

.top-container1 {
  background-color: pink;
  color: white;
  font-size: 30px;

  clip-path: circle(5% at 85% 50%);
  animation: circleMove 10s ease-in-out infinite;
}
@keyframes  circleMove {
  0%, 10% {
    clip-path: circle(5% at 85% 50%);
  }
  50% {
    clip-path: circle(5% at 15% 50%);
  }
}




.photo{
  width: 100%;
  height: 100%;
}

.container{
  padding: 75px 0;
  margin: 0 auto;
  width: 1140px;
}

h1{
  position: relative;
  margin-bottom: 45px;
  font-family: 'Oswald', sans-serif;
  font-size: 44px;
  /* text-transform: uppercase; */
  color: #424242;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
  
  
}
  
  item.hover{
    flex: 7;
  }


.item-1 { 
  background-image: url('https://us.123rf.com/450wm/artinspiring/artinspiring1710/artinspiring171000011/87210017-isolated-young-woman-with-abdominal-pain-on-white-background.jpg?ver=6');
}

.item-2 { 
  background-image: url('https://www.pngitem.com/pimgs/m/399-3998668_beautiful-pregnant-women-clip-art-hd-png-download.png');
}

.item-3 { 
  background-image: url('https://media.istockphoto.com/id/1297017925/vector/pregnancy-loss-abortion-flat-vector-illustration.jpg?s=612x612&w=0&k=20&c=DAjrhOiUTFfTANhZvXCfzk5z-9gtfTPuP6UHU4Bd5GA=');
}

.item-4 { 
  background-image: url('https://us.123rf.com/450wm/ntlstudio/ntlstudio2103/ntlstudio210300108/165378300-depressed-mother-2d-vector-web-icon-banner-poster-maternal-mental-health-young-mom-with-crying.jpg?ver=6');
}

.item-5 { 
  background-image: url('https://static.wixstatic.com/media/197d85_f6a9b8995cdc498697e404be8fb78583~mv2.png/v1/fill/w_740,h_740,al_c,q_90/197d85_f6a9b8995cdc498697e404be8fb78583~mv2.png');
}

.social{
  position: absolute;
  right: 35px;
  bottom: 0;
}
  
image{
    display: block;
    width: 32px;
  }

  .About-us {
	  width: 100%;
	  text-align: center;
	  background-color: #edddee;
	  margin-top: 50px;
	  margin-bottom: 30px;
	}
	h1{
	  color: rgb(31, 30, 30);
	  font-size: 35px;
	}
	.image10 {
	  border-radius: 80%;
    padding-top: 10px;
	}
	
	p {
	  font-size: 20px;
	} 
    h3 {
	  text-shadow:
	}
    a {
      padding: 20px;
	  text-align: center;
	  text-decoration: none;
	  margin: 5px 2px;
      color:rgb(221, 145, 157);
	  border-radius: 8px;
	 font-size: 50px;	
 

   } 




   .title2{
    
    margin-top:30px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    width: .5vh;
    height: 20px;;
    font-family: 'Playfair Display', serif;
    font-size:6vw;
  }
  
  .bottom-container2,
  .top-container2 {
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    top: -4vh;
    left: 24vw;
    padding: 1vw;
  }
  
  .bottom-container2{
    color: #232323;
    font-size: 30px;
  }
  
  .top-container2 {
    background-color: pink;
    color: white;
    font-size: 30px;
  
    clip-path: circle(5% at 85% 50%);
    animation: circleMove 10s ease-in-out infinite;
  }
  @keyframes  circleMove {
    0%, 10% {
      clip-path: circle(5% at 85% 50%);
    }
    50% {
      clip-path: circle(5% at 15% 50%);
    }
  }
  
  

  