<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- <div style="margin-top :-90px;"-->
   <div class="container-fluid">
    <div class="image-1">
      
        <h1 style="padding-left: 149px;" >Her Health Matters!</h1>
        <p  style="padding-top:99px; padding-left: 149px; text-align: justify;"><br>"Being a healthy woman isn’t about getting on a scale or measuring your waistline.<br> We need to start focusing on what matters – on how we feel and how we feel about ourselves."<br> <br>-Michelle Obama”</p>
       <br>
       <br>
       
        <a style="margin-left: 455px" routerLink="bhome">EXPLORE</a>
    
      </div>
   </div>

    





<div class="main" style="background-color:#edddee ;">
    <div class="bar" style="margin-top: 70px;">
   
 
  
  

    
    
     <div class="title" style="background-color:#edddee;">
    
        <div class="bottom-container">
        Meet Our Experts
        </div>
     
        <div class="top-container">
    Meet Our Experts
        </div>
     </div>
    </div>
    <div class="container">
        
     <div class="row row" style="margin-left: 50px;">
      
      <div  class="col cols-3 md-4" *ngFor="let data of teen"> 
       

          <div class="card" style="width: 18rem;">
            <img src="{{data.photo}}" class="card-img-top" alt="..." width=250 height=300;>
            <div class="card-body" style="font-family:'Poppins', sans-serif; color: black;">
                         <h5 class="card-title ">{{data.name}}</h5>
              <p class="card-text" style="font-size: 18px;">{{data.des}}</p>
             
            </div>
          </div>
       
            </div>
          </div>



     
    <div class="title1">
    
      <div class="bottom-container1">
    We Care All Your Stages
      </div>
   
      <div class="top-container1">
We Care All Your Stages
      </div>
   </div>
  </div>

       
    <div class="photo">

      <div class="container">
       
      
        <div class="gallery-wrap">
          <div class="item item-1"></div>
          <div class="item item-2"></div>
          <div class="item item-3"></div>
          <div class="item item-4"></div>
          <div class="item item-5"></div>
        </div></div>
      
     
      </div>



    

<div class="container-fluid">
          <div class="image-2">
</div>
            

          </div>


          
        
         




          



          <div class="About-us">

            <div class="title2">
    
              <div class="bottom-container2">
      About Us
              </div>
           
              <div class="top-container2">
  About Us
              </div>
           </div>
          
          
          <div class="image10"><img src="/assets/images/bgmain.png" height="300px" width="300px"></div>
          <p style="font-family: 'Poppins', sans-serif; color: black; font-size: 18px; text-align: justify; margin: 25px;">Herwell functions for the betterment of women's health. It just means proper care and information in each and every stages of a women. We are always there for each women for raising up enough health awareness aboout relationships, sexual life , pregnancy, periods, abortions, pcods/pcos etc. We care you..We are there for you!</p>
           <h3 style="font-family: 'Poppins', sans-serif; color: black;"> Follow Us On </h3>
           <a href="https://www.facebook.com/" class="fa fa-facebook"></a> 
           <a href="https://twitter.com/" class="fa fa-twitter"></a> 
           <a href="https://www.linkedin.com/in/amala-joseph-05b147265/" class="fa fa-linkedin"></a> 
          </div>

          
</div>
       
        <app-subscription></app-subscription>






