


<div  class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4>LEAVE A COMMENT</h4>
        <P>You can leave a comment here</P>
        <form>
            <div class="form-group">
                <label for=" ">Name</label>
                <input type="text" class="form-control" placeholder="Enter your name here">

            </div>

            <div class="form-group">
                <label for=" ">Comment</label>
                <textarea cols="30" rows="10" class="form-control" placeholder="Add your comment here" shadow-effect></textarea>
            </div>

            <button class="btn">Add a comment</button>
        </form>
    </div>
</div>


