<div class="card mb-5 mt-5 pb-5 shadow-effect ">
    <div class="card-body">
        <h4 class="mt-3 mb-3">Comments (5)</h4>
        <div class="comment-box mt-3">
        <h6 class="mb-0">Printo P Varghese</h6>
        <small class="text-danger">LAST UPDATED- sept 5 2021</small>

        <div class="mt-3 mb-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa alias sit voluptatem quo, esse nostrum totam libero earum ipsum distinctio praesentium. Deserunt laboriosam suscipit, fugit nesciunt architecto possimus omnis laudantium?
        </div>

        <a href="#" class="mt-1">Reply</a>
        <a href="#" class="mt-1">View reply</a>
        <hr>
        </div>


        <div class="comment-box mt-3">
            <h6 class="mb-0">Printo P Varghese</h6>
            <small class="text-danger">LAST UPDATED- sept 5 2021</small>
    
            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa alias sit voluptatem quo, esse nostrum totam libero earum ipsum distinctio praesentium. Deserunt laboriosam suscipit, fugit nesciunt architecto possimus omnis laudantium?
            </div>
    
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1">View reply</a>
            <hr>
            </div>


            <div class="comment-box mt-3">
                <h6 class="mb-0">Printo P Varghese</h6>
                <small class="text-danger">LAST UPDATED- sept 5 2021</small>
        
                <div class="mt-3 mb-3">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa alias sit voluptatem quo, esse nostrum totam libero earum ipsum distinctio praesentium. Deserunt laboriosam suscipit, fugit nesciunt architecto possimus omnis laudantium?
                </div>
        
                <a href="#" class="mt-1">Reply</a>
                <a href="#" class="mt-1">View reply</a>
                <hr>
                </div>
    </div>

</div>