<div class="container">
     <div class="row"> 
        <div class="logo" >
            <div class="site-logo"><b>HER<span>WELL</span></b></div>
            
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a routerLink="" class="nav-link">Home</a></li>
                    <li class="nav-item"><a routerLink="bhome" class="nav-link">Blogs</a></li>
                    <li class="nav-item"><a routerLink="ask" class="nav-link">Ask</a></li>
                    <li class="nav-item"><a routerLink="contact" class="nav-link">Contact</a></li>
                </ul>
          
            <p class="mb-2 mt-2">Copyright @ 2023 Angular Blogsite</p>
        </div>
   
</div>
