   
    <div class="image-1">
      
        <h1 style="padding-left: 149px;" > Too Embarrassed!  Ask Us?</h1>
        





    
       <br>
       

    





<div class="main" >
    <div class="bar"><div  class="card  shadow-effect" style="margin-top: 90px;">
        <div class="card-body">
        
            
            <form>
                <div class="form-group">
                    
                </div>
    
                <div class="form-group">
                  
                    <textarea cols="30" rows="10" class="form-control" placeholder="ASK YOUR DOUBTS. WE NEVER ASK YOUR IDENTITY" shadow-effect></textarea>
                </div>
    
                <button class="btn">SUBMIT</button>
            </form>
        </div>
    </div>






    <div class="main1" style="background-color:#edddee ; width: 1510px; margin-left: -146px; height: 400px; margin-bottom: 20px; ">
        <div class="bar" style="margin-top: 300px;">
       
     
      
      
    
        
        
         <div class="title" style="background-color:#edddee;">
        
            <div class="bottom-container">
             QUESTIONS YOU ASKED
            </div>
         
            <div class="top-container">
         QUESTIONS YOU ASKED
            </div>
         </div>
        </div>
        <div class="container">
            
         

            <div class="tab" style="margin-top: 50px;" >
                <input id="tab-dos" type="checkbox" name="tabs">
                <label for="tab-dos">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi sint, expedita eaque vel error accusamus eligendi labore nulla distinctio saepe eveniet alias? Doloribus corrupti officia blanditiis eveniet velit eius natus.</label>
                
                <div class="tab-content">
<br>
                  <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis tempore ad nisi non, culpa harum numquam, quisquam officiis quasi inventore, officia maiores quia distinctio illo perferendis vero blanditiis! Numquam, dignissimos.</h6>
                </div>
              </div>
           
    
              
                 
                </div>
              </div>
           
                </div>
              </div>
    
    
    
         

   
   
   
    

   
 
  
  

    
    
     
     



     
  