<div class="card">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3 style="color: black; font-family: 'Playfair Display', serif;;">SUBSCRIPTION FORM</h3>
            <P class="m-auto subs-text" style="color: black; font-family:'Poppins', sans-serif ; font-size: 15px;">Show your support to us by subscribing. Join us! Lets upgrade .</P>
            <form action="" class="form">
                <div class="form-group col-md-5 mt-5">
                    <input type="text" class="form-control" placeholder="Name">

                </div>
                <div class="form-group col-md-5">
                    <input type="text" class="form-control" placeholder="Email">
                    
                </div>
                <div class="col-md-2">
                    <button class="btn">SUBSCRIBE </button>
                </div>
            </form>
        </div>
    </div>
</div>
